/* @group Article Content */

.article-content {
	display: block;
	position: relative;
}

     .article-content img {
     }
     
     .article-content .article {
          padding: 0px 0px 20px 0px;
     }

.article-content .article-meta {
	padding-bottom: 21px;
	padding-top: 10px;
	display: block;
	clear: both;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 20px;
	padding-right: 160px;
}

.article-content .article-meta .article-share {
	float: right;
	margin-right: -160px;
}

.article-content .article-tags {
	padding-bottom: 15px;
	font-size: 14px;
	line-height: 19px;
}

.article-content .article-tags a {
	color: #555;
	background: #eee;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	margin: 2px;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
}

.article-content .article-tags a:hover {
	background: #ddd;
}

.content.blog-content .comment-header, 
.content.blog-reply .reply-header {
	background: #F2F0F0;
	border-radius: 3px;
	font-size: 13px;
	padding: 6px;
	padding-left: 30px;
	border: 1px solid #DFD1D1;
	position: relative;
}

.content.blog-content .comment-header .comment-icon { 
	background: url('../../default/image/blog-sprite.png') right top no-repeat;
	width: 21px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 3px;
}

.content.blog-reply .reply-header .comment-icon { 
	background: url('../../default/image/blog-sprite.png') left bottom no-repeat;
	width: 21px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 3px;
}

#com-title { 
	position: relative;
	padding-left: 30px;
}

#com-title .blog-write{
	background: url('../../default/image/blog-sprite.png') left top no-repeat;
	width: 21px;
	height: 18px;
	position: absolute;
	top: -1px;
	left: 0px;
}

#com-title .blog-write{
	background: url('../../default/image/blog-sprite.png') left top no-repeat;
	width: 21px;
	height: 18px;
	position: absolute;
	top: -1px;
	left: 0px;
}

.content .comment-text {
	padding: 4px;
	padding-left: 7px;
	padding-top: 7px;
}

.content .comment-text a {
	font-weight: bold;
}

span.cancel-reply {
	background: url('../../default/image/blog-sprite.png') right bottom no-repeat;
	width: 21px;
	height: 18px;
	cursor: pointer;
	position: absolute;
}

.author-image {
	float: left;
	margin-right: 10px;
	padding: 3px;
	border: 1px solid #eee;
}

.article-content a.centered-image {
	display: block;
	text-align: center;
}

.article-content a.centered-image img#image {
	margin: 0px !important;
}

.content.blog-author {
	border-left:none !important;
	border-right: none !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}

.content.blog-author p {
	margin-bottom: 5px;
}	

.comment-left, 
.comment-right {
	display: table-cell;
	vertical-align: top;
}

.comment-left {
	width: 40%;
	padding-right: 20px;
}

.comment-left  input {
	width: 95%;
}

.comment-right textarea {
	min-height: 72px;
}

.article-content img {
	max-width: 100%;
}

#fb-root {
  display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

.blog-gallery {
     padding: 5px 0px 20px 0px !important;
}

.blog-gallery > a.colorbox {
	display: inline-block;
	text-decoration: none;
	*display: inline;
}

#blog-gallery-slider { 
     position: relative; 
     top: 0px; 
     left: 0px; 
     width: 100%;
     height: auto; 
     background: #eee; 
     overflow: hidden; 
     margin-bottom: 10px; 
}
        
#blog-gallery-slider div[u="loading"] { 
     position: absolute; 
     top: 0px; 
     left: 0px; 
}

#blog-gallery-slider div[u="loading"] > div.loadin-in-1 { 
     filter: alpha(opacity=70); 
     opacity:0.7; 
     position: absolute; 
     display: block;
     background-color: #000000; 
     top: 0px; 
     left: 0px;
     width: 100%;
     height: 100%; 
}
						
#blog-gallery-slider div[u="loading"] > div.loadin-in-2 { 
     position: absolute; 
     display: block; 
     background: url(../image/blog-loading.gif) no-repeat center center;
     top: 0px; 
     left: 0px;
     width: 100%;
     height: 100%; 
}
						
#blog-gallery-slider div[u="slides"] {
     cursor: move; 
     position: absolute; 
     left: 0px; 
     top: 0px; 
     width: 100%; 
     height: auto; 
     overflow: hidden;
}

.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn {
    position: absolute;
    cursor: pointer;
    display: block;
     background: url(../image/blog-arrows.png) no-repeat;
    overflow:hidden;
}

.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }
.jssora05l { width: 40px; height: 40px; top: 158px; left: 8px; }
.jssora05r { width: 40px; height: 40px; top: 158px; right: 8px }
.jssort01 { position: absolute; width: 100%; height: 100px; left:0px; bottom: 0px; }
.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: #ddd 2px solid;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    background: url(../image/blog-t01.png) center center;
    border-width: 0px;
    top: 2px;
    left: 2px;
    width: 68px;
    height: 68px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
	left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
}

.blog-videos > div { text-align: center; }

@media all and (max-width: 699px) {
  .blog-videos iframe {
	height: auto: !important;
	width: 100%;
  }
  
  .blog-videos > div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
  .blog-videos > div > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.jssora05l, .jssora05r {
	display: none !important;
}

.comment-form { 
    display: table;
    width: 100%; 
}

@media all and (max-width: 699px) {
  .comment-form { display: block; }  
  .comment-form > div { display: block; margin: 0px; margin-bottom: 10px; padding: 0px; width: 100%; }  
}

/* @end */

/* @group Art Block */

.artblock {
     border-bottom: 1px solid #e0e0e0;
     padding: 0px 0px 20px 0px;
     margin-bottom: 20px;
}

     .artblock .name {
          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
          padding: 0px 0px 15px 0px;
          border-bottom: 1px solid #d7d7d7;
          margin: 0px 0px 19px 0px;
     }
          
     .artblock .article-meta {
          border-bottom: 1px solid #e0e0e0;
          margin-bottom: 20px;
          padding-bottom: 16px;
          font-size: 12px;
     }
     
     .artblock .article-image {
          margin-bottom: 20px;
     }
     
     .artblock .blog-button {
          padding-top: 15px;
          text-align: right;
     }

/* @end */

/* @group Modules 
------------------*/
			
/* @group Blog latest */

.box-blog-latest {
	position: relative;
	margin: 0px 0px -20px 0px;
}

		.box-blog-latest h4 {
			padding: 0px 0px 15px 0px;
			border-bottom: 1px solid #d7d7d7;
			margin: 0px 0px 15px 0px
		}
		
		.box-blog-latest img {
			display: block;
			margin: 0px 0px 17px 0px;
		}
		
		.box-blog-latest > div > div > a:first-of-type {
		     display: none;
		}
		
		.box-blog-latest .article-date-added {
		     font-size: 11px;
		     padding: 4px 0px 0px 0px;
		     display: none;
		}
		
		     .box-blog-latest .article-date-added i {
		          margin-right: 2px;
		     }
		
		.box-blog-latest .article-meta {
		     padding: 0px 0px 14px 0px;
		     border-bottom: 1px solid #e0e0e0;
		     margin-bottom: 20px;
		}
		
		     .box-blog-latest .article-meta i {
		          margin-right: 2px;
		     }
		     
		.box-blog-latest .description {
		     padding-bottom: 10px;
		}
	
.col-sm-3 .box-blog-latest,
.col-sm-4 .box-blog-latest,
.col-md-3 .box-blog-latest,
.col-md-4 .box-blog-latest {
     margin: 0px;
}
	
.col-sm-3 .blog-latest,
.col-sm-4 .blog-latest,
.col-md-3 .blog-latest,
.col-md-4 .blog-latest {
	margin: -20px;
	position: relative;
}

     .col-sm-3 .box-blog-latest h4,
     .col-sm-4 .box-blog-latest h4,
     .col-md-3 .box-blog-latest h4,
     .col-md-4 .box-blog-latest h4 {
          margin: 0px;
          font-size: 13px;
          position: relative;
          margin-top: -3px;
          padding: 0px;
          border: none;
     }

	.col-sm-3 .box-blog-latest > div > div > a,
	.col-sm-4 .box-blog-latest > div > div > a,
	.col-md-3 .box-blog-latest > div > div > a,
	.col-md-4 .box-blog-latest > div > div > a {
	     display: none;
	}
	
	.col-sm-3 .box-blog-latest > div > div > a:first-of-type,
	.col-sm-4 .box-blog-latest > div > div > a:first-of-type,
	.col-md-3 .box-blog-latest > div > div > a:first-of-type,
	.col-md-4 .box-blog-latest > div > div > a:first-of-type {
	     display: block;
	     width: 55px;
	     height: 55px;
	     margin: 0px 15px 0px 0px;
	     float: left;
	     background-size: cover;
	     background-position: center;
	     position: relative;
	}
	
	.col-sm-3 .box-blog-latest .article-date-added,
	.col-sm-4 .box-blog-latest .article-date-added,
	.col-md-3 .box-blog-latest .article-date-added,
	.col-md-4 .box-blog-latest .article-date-added {
	     display: block;
	}
	
	.col-sm-3 .box-blog-latest .article-meta,
	.col-sm-4 .box-blog-latest .article-meta,
	.col-md-3 .box-blog-latest .article-meta,
	.col-md-4 .box-blog-latest .article-meta {
	     display: none;
	}
	
	.col-sm-3 .blog-latest .description,
	.col-sm-4 .blog-latest .description,
	.col-md-3 .blog-latest .description,
	.col-md-4 .blog-latest .description {
	     display: none;
	}
		
	.col-sm-3 .blog-latest > div,
	.col-sm-4 .blog-latest > div,
	.col-md-3 .blog-latest > div,
	.col-md-4 .blog-latest > div {
		float: none;
		width: 100%;
		border-top: 1px solid #e0e0e0;
		padding: 17px 10px;
		margin: 0px;
	}
	
	     .col-sm-3 .blog-latest > div:first-child,
	     .col-sm-4 .blog-latest > div:first-child,
	     .col-md-3 .blog-latest > div:first-child,
	     .col-md-4 .blog-latest > div:first-child {
	          border: none;
	     }
		
/* @end */
		
/* @end */